@use "../styles/GlobalVariables.module.scss" as gvars;

.BlackSectionWrapper{

    background: black;
    position: relative;
    color: white;
    .first-section .image-container > img {
      margin-top: 2em;
      width: 100%;
      display: block;
  
      @include gvars.laptop {
        width: 48%;
        height:auto;
      }
    }
    .section-container{
      position:relative;
      &.second{  
        // margin-left: auto;
        .image-container{
          order:2;
        }
      }
      @include gvars.laptop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap:4em;
        grid-row-gap: 0px;
        justify-content: space-between;
        align-items: center;
      }
  
    }
    .image-container {
      position: relative;
      height:50vh;
      margin-bottom: 3em;
      @include gvars.laptop {
        margin-bottom: 7em;
        width:33vw;
        height:50vw;
      }
      img{
        object-fit: cover;
      }
 
    }
    .outer-quote-container{
      @include gvars.laptop {
        width: auto;
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        
      }
   
    }
    .quote-container {
      padding: 0 1.5em;
      text-align:center;
      // border: 2px solid white;
      border-radius: 10px;
      margin-bottom:5em;
      @include gvars.laptop {
text-align:left;
padding: 0;
max-width:25em;
        // width: 25em;
        // border-radius: 0;
        // position: absolute;
        // left: 38%;
        // bottom: 20vw;
      }
      img {
        width: 2.5em;
        margin-bottom: 1.4em;
        @include gvars.laptop {
    
  
          margin-bottom: 0.8em;
        }
      }
    }
  
    .quote-container.second {
      @include gvars.laptop {
        // width: 27em;
  
        // left: initial;
        // right: 40%;
  
        br:nth-child(2n) {
          display: none;
        }
      }
    }
    p.quote {
      font-family: "Abhaya Libre", sans-serif;
      font-size: 1.4em;
      line-height: 1.3em;
      font-weight: 300;
      @include gvars.tablet {
        // font-size: 2em;
        // line-height: 1.3em;
      }
      @include gvars.laptop {
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
  
    .first-section .image-container img {
      margin-top: 0;

    }
    .full-width-image-section2 {
      .section-container{
        margin-bottom:2em;
        clip-path: inset(0);
      }
      img {
        width: 100%;
        object-fit: cover;
        position:fixed;
        top:0;
      }
      .image-container {
        margin-bottom: 3em;
        &:last-of-type {
          margin-bottom: 0;
        }
        @include gvars.laptop {
          margin-bottom: 8em;
        }
      }
    }
  
    .section3 {
      @include gvars.laptop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 0px;
      }
    }
}
