@use "../styles/GlobalVariables.module.scss" as gvars;

.IntroAnimation{
position: absolute;
top:0;
left:0;
width:100%;
height:140vh;
background-color: black;
z-index: 99;
overflow: hidden;
display: flex;
    justify-content: center;
    align-items: center;

    @include gvars.laptop {
        height: 100vh;
    }

.IntroBg{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    opacity:0;
    transition:all 2s;
    transition-delay:2s;
}
.ImagesWrapper{
  
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5em;
    grid-row-gap: 0px;
    transform: scale(0.3);
    transition:all 3s;
    transition-delay:3s;

}

.imageContainerColumn{
 
    opacity: 1;    
    margin-top: 1000vh;

    transition: all 3s;
position:relative;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 5em;
justify-content: space-between;
align-items: center;
@include gvars.laptop {
    margin-top: 450%;
}

    img{
        width: 100vw;
        height: 140vh;
        object-fit: cover;
        margin-top:0;
        transition:height 3s, margin-top 5s ease, filter 2s, opacity 5s;
        transition-delay:3s, 0s, 4s, 0s;
        transition-property: height, margin-top, filter, opacity;
        @include gvars.laptop {
            height: 100vh;
        }
        &:not(:first-child){
            margin-top: 8em;
        }
        &:nth-child(3){
            margin-top: 20em;
        }
    }
    .maingBGImageContainer{
        position:relative;
        overflow:hidden;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);

    }
    .mainBackgroundImage{
        filter:blur(0);
        opacity:1;
   
    }
    .gradientContainer{
        position: absolute;
   top:0;
        height:144vh;
        width:100vw;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%);
        @include gvars.laptop {
            height: 100vh;
        }
      }
    &:nth-child(odd){
        grid-template-rows: repeat(4, 1fr);
        // padding-top:20em;
            img{
                // display:none;
            
            }
        }
        
}

}

