@use "../styles/GlobalVariables.module.scss" as gvars;

.s1{
    margin-bottom: 1em;
}
.s2{
    margin-bottom: 2em;
}
.s3{
    margin-bottom: 3em;
}
.s4{
    margin-bottom: 4em;
}
.s5{
    margin-bottom: 5em;
}
.s6{
    margin-bottom: 6em;
}
.s7{
    margin-bottom: 7em;
}
.s8{
    margin-bottom: 8em;
}
.s9{
    margin-bottom: 9em;
}
.s10{
    margin-bottom: 10em;
}

